.gallery{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    &__item{
        a{
            display: block;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

.img-fluid{
    width: 100%;
    height: auto;
}
.mansory-image{
    margin-bottom: 5px;
    img{
        display: block;
    }
}
