.header-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .notification-icon {
        margin-right: 30px;
        margin-top: 10px;
        cursor: pointer;
    }
    .user_avatar {
        margin-right: 10px;
    }
    .user-dropdown {
        display: flex;
        align-items: center;
        cursor: pointer;

        .ant-avatar-image {
            margin-right: 10px;
        }
    }
}
.logo {
    height: 64px;
    img {
        height: auto;
        max-width: 35%;
        display: block;
        margin: 0 auto;
        padding: 0.5rem;
        cursor: pointer;
        height: 100%;
        object-fit: cover;
    }
}
.notification {
    list-style: none;
    margin: 0;
    height: 350px;
    padding: 0 10px 0 0;

    .infinite-list-item {
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 12px;
        background-color: $WHITE;
        font-size: 12px;
        cursor: pointer;
        transition: background-color linear 0.2s;
        &:hover {
            background-color: $BACKGROUND;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    .notification_item {
        display: grid;
        grid-template-columns: 50px auto;
        font-weight: 600;
        color: $BLACK;
        .diff-time {
            margin-top: 5px;
            font-size: 11px;
        }
        .message{
            word-break: break-word;
            text-align: left;
        }
    }
}
