.ant-layout {
    background: unset;
    background-color: $WHITE;
}
.ant-layout-header{
    line-height: normal;
    padding: 0 25px;
}
.ant-spin-nested-loading > div > .ant-spin{
    z-index: 35;
}
