body {
    font-family: "Nunito", sans-serif !important;
    font-size: 13px;
    font-weight: 600;
    color: $BLACK;
    overflow: hidden;
    background-color: $BACKGROUND;
}

.page-loading {
    height: 100%;
    // z-index: 50;

    & > div {
        .ant-spin {
            max-height: 100%;
        }
    }
    .ant-spin-container {
        height: 100%;
    }
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
