body {
    font-family: "Nunito", sans-serif !important;
    font-size: 15px;
    font-weight: 400;
    color: $BLACK;
    overflow: hidden;
    background-color: $BACKGROUND;
}

.page-loading {
    height: 100%;

    & > div {
        .ant-spin {
            max-height: 100%;
        }
    }
    .ant-spin-container {
        height: 100%;
    }
}
.sidebar{
    a.exact-active{
        background-color: $MENUACTIVE;
        color: $WHITE !important;
    }
}
