.sidebar {
    .el-menu-item {
        font-size: 13px;
        padding: 0 10px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.02) !important;
        }
    }
    .el-menu-item.is-active {
        background-color: hsla(0, 0%, 100%, 0.3) !important;
    }

    .el-menu-vertical-demo {
        border: none;
    }
}
.el-select{
    display: block !important;
    .el-select__tags{
        max-width: 100% !important;
    }
}

.el-loading-mask.is-fullscreen .el-loading-spinner .circular{
    width: 30px;
    height: 30px;
}
.el-date-editor .el-range-separator{
    width: 22px;
}
