$BLACK : #000;
$WHITE : #FFF;
$BLUE : #1a4463;
$HEADER : #f1f3f4;
$BORDER : #e0e0e0;
$BACKGROUND : #f5f3f1;
$MENUACTIVE : #1890ff;
$ICONSIDEBARCOLOR : #c7c7c7;

$BORDER-RADIUS : 5px;
$BOX-SHADOW: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
